\#*#
*~
.#*

*.aux
*.brf
*.dvi
*.eps
*.glg
*.glo
*.gls
*.hd
*.html
*.idx
*.ilg
*.ind
*.ist
*.loe
*.lof
*.log
*.lot
*.mp
*.mps
*.mpx
*.out
*.ps
*.sed
*.sty
*.toc

/RELEASE-HOWTO
/typog-example.*
/typog-grep*
/typog-nomt.*
/typog.pdf
